name: tarefas_profissionais
description: App de cadastro de tarefas profissionais com Sqflite
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # Banco de dados local
  sqflite: ^2.3.0
  path: ^1.8.3
  path_provider: ^2.1.1
  
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true